mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
      h6.reviews__user= review.user.name
    p.reviews__text= review.review
    .reviews__rating
      each star in [1, 2, 3, 4, 5]
        svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
          path(d="M12 1.516l3.817 7.766 8.516 1.236-6.168 6.02 1.458 8.502-7.623-4.022-7.623 4.022 1.458-8.502-6.168-6.02 8.516-1.236z")
